pipeline/foreach1.json
{
	"name": "foreach1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('outputarray')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_inside_loop",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Binary2",
									"type": "DatasetReference",
									"parameters": {
										"folder": "input"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Binary2",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "outputarray",
					"value": [
						"out",
						"out1"
					]
				}
			}
		],
		"parameters": {
			"output": {
				"type": "array",
				"defaultValue": [
					"out",
					"out1"
				]
			}
		},
		"variables": {
			"outputarray": {
				"type": "Array"
			},
			"a": {
				"type": "Array"
			},
			"array1": {
				"type": "Array",
				"defaultValue": [
					10,
					20
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-12T13:34:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}